[Unit]
Description=ROS 2 RC Car Control Service
After=network-online.target

[Service]
Type=simple
User=aa
WorkingDirectory=/home/aa/ros2_ws
ExecStart=/bin/bash /home/aa/ros2_ws/src/rc_car_control/scripts/ros2_start.sh
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
